<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>

  {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
  <meta name="viewport" content="width=device-width">
  <!-- Twitter bootstrap basic styles -->
  <link rel="stylesheet" href="{{relative}}bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="{{relative}}bootstrap/css/bootstrap-responsive.css">



  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{relative}}css/syntax.css">
  <!-- Google webfont link -->
<link href='http://fonts.googleapis.com/css?family=Arvo:700|Titillium+Web:900' rel='stylesheet' type='text/css'>


  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{relative}}css/main.css">

  <script src="{{relative}}assets/jquery-1.10.0.js"></script>

  <script type="text/javascript" src='{{relative}}bootstrap/js/bootstrap.js'></script>
  <script type="text/javascript" src='{{relative}}assets/custom.js'></script>

<body class="{{ page.cssclass }}">

  <div class="container">

    {{ content }}


  </div> <!-- /container -->


</body>
</html>
